@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* ---- PRESETS ---- */
:root {
  --main-color: #F6F6F6;
  --white: #FFFFFF;
  --gray: #D9D9D9;
  --dark: #383838;
  --main-desktop-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.15);
  --secondary-text-color: #FD3154;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* ---- STYLING ---- */

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: var(--main-color);
}

/* product section start */
.product-stuff-wrapper {
  padding-top: 44px;
  padding-bottom: 59px;
  background: linear-gradient(90deg, transparent 50%, var(--white) 50%);
  box-shadow: var(--main-desktop-box-shadow);
}

.product-stuff-wrapper .heading-text-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.35em;
  font-weight: 700;
  text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
  margin: 0;
}

.product-stuff-wrapper .price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-stuff-wrapper .price-wrapper span {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 1em;
}

.product-stuff-wrapper .price-wrapper span.promotional-price {
  margin-left: 2px;
  color: #32de84;
  font-size: 1.2em;
}

.product-stuff-wrapper .price-wrapper span.original-price {
  margin-right: 2px;
  text-decoration: line-through;
}

.product-stuff-wrapper .grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.product-stuff-wrapper .media-wrapper .image-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-stuff-wrapper .media-wrapper .current-img,
.product-stuff-wrapper .media-wrapper .thumbnails-wrapper,
.product-stuff-wrapper .content-wrapper .variations-wrapper {
  width: 70%;
}

.product-stuff-wrapper .media-wrapper .current-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-stuff-wrapper .media-wrapper .current-img img {
  width: 100%;
}

.product-stuff-wrapper .media-wrapper .thumbnails-wrapper,
.product-stuff-wrapper .content-wrapper .variations-wrapper {
  display: flex;
  justify-content: center;
}

.product-stuff-wrapper .media-wrapper .thumbnails-wrapper .thumbnail,
.product-stuff-wrapper .content-wrapper .variations-wrapper .variation {
  height: 65px;
  width: 65px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  transition: transform .2s;
}

.product-stuff-wrapper .content-wrapper .variations-wrapper .variation {
  height: 60px;
  width: 60px;
}

.product-stuff-wrapper .media-wrapper .thumbnails-wrapper .thumbnail:hover {
  transform: scale(1.2);
}

.product-stuff-wrapper .media-wrapper .thumbnails-wrapper .thumbnail img,
.product-stuff-wrapper .content-wrapper .variations-wrapper .variation img {
  width: 100%;
}

.product-stuff-wrapper
  .media-wrapper
  .thumbnails-wrapper
  .thumbnail:first-child {
  margin-left: 0;
}

.product-stuff-wrapper .media-wrapper .thumbnails-wrapper .thumbnail:last-child,
.product-stuff-wrapper .content-wrapper .variations-wrapper .variation:last-child {
  margin-right: 0;
}

.product-stuff-wrapper .content-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-stuff-wrapper .content-wrapper .content .description,
.product-stuff-wrapper .content-wrapper .content .actions {
  width: 70%;
  margin-bottom: 49px;
}

.product-stuff-wrapper .content-wrapper .content .description {
  line-height: 20px;
  text-align: justify;
  margin-bottom: 49px;
}

.product-stuff-wrapper .content-wrapper .content .actions {
  display: flex;
}

.product-stuff-wrapper .content-wrapper .content .actions .quantity-selector-wrapper {
  display: flex;
  flex-direction: column;
  width: 82px;
  align-items: center;
}

.product-stuff-wrapper .content-wrapper .content .actions .quantity-selector-wrapper .heading {
  font-size: 10px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 700;
}

.product-stuff-wrapper .content-wrapper .content .actions .quantity-selector-wrapper input {
  width: 100%;
  height: 43px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: center;
}

.product-stuff-wrapper .content-wrapper .content .actions .purchase-button-wrapper {
  display: flex;
  align-items: end;
  width: calc(100% - 82px);
}

.product-stuff-wrapper .content-wrapper .content .actions .purchase-button-wrapper .purchase-button {
  width: 100%;
  background-color: black;
  height: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .2s;
}

.product-stuff-wrapper .content-wrapper .content .actions .purchase-button-wrapper .purchase-button:hover {
  background-color: var(--dark);
}

.product-stuff-wrapper .content-wrapper .content .actions .purchase-button-wrapper .purchase-button .icon {
  margin-right: 17px;
}

/* product section end */
